__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.ipynb_checkpoints/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
reports/*
!reports/.gitkeep
dashboards/*
!dashboards/.gitkeep
.DS_Store
